# Ignore object files
*.o

# Ignore random things
exo gitlab/
Game/
Git/mosaic-b15/

# ignore CMake product
CMakeCache.txt
cmake_install.cmake
CmakeFiles

#ignore previous years
L1 Info/
L1 Info/Init dev/video-tracker/