# Ignore object files
*.o

# Ignore random things
exo gitlab/
Game/
*.log
build/
.idea/
.gradle/
Git/mosaic-b15/
L2 Info/POO/projet-poo

.build
.gradle
.idea

# ignore CMake product
CMakeCache.txt
cmake_install.cmake
CmakeFiles

#ignore previous years
L1 Info/
L1 Info/Init dev/video-tracker/
