header img {
    display:block;
    margin-left: auto;
    margin-right: auto;
}

section {
    display: block;
    font-size: 500%;
    text-align: center;
}

#bandeau {
    display:inline;
    margin-left: 2%;
}

#background {
    padding-block: 1%;
    background-color: blue;
    margin-left: auto;
    margin-right: auto;
    width: 480px;
}

nav {
    text-align: center;
}